nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    color: white;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 18px;
}
.navLeft{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}
.navRight{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content:flex-end;
    gap: 44px;
}
.navRight button{
    background-color: rgb(35, 166, 240);
    padding: 20px;
    border-radius: 10px;
    width: 31vh;
    border: 0;
    color: white;
    font-size: 16px;
}